repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args:
          [
            --line-length,
            "120",
            "--select=ALL",
            --show-fixes,
            --fix,
            "--ignore=D211,D213,D104,FA102,T201,EXE002,TRY300,FBT001,D413,D203,N802,D205,FBT002",
          ]
        files: ^(?!(tests/)).*\.py$
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]
        files: ^(?!(tests/)).*\.py$
